.cabecalho {
    background-color: #000;
    box-sizing: border-box;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 52px;
    border-bottom: 4px solid var(--Blue, rgba(34, 113, 209, 1));
    box-shadow: 0px 5px 29px 0px rgba(34, 113, 209, 0.7);
}

.cabecalho img {
    height: 40px;
}